body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #ddd;
}
header {
  background: #333;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-size: 16px;
}

nav a:hover {
  color: #ffea00;
}

.search-bar {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}
.search-bar input {
  padding: 10px;
  width: 300px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.search-bar button {
  background: blue;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  margin-left: 5px;
  border-radius: 5px;
}
.search-bar button:hover {
  background: #0051ff;
  transition: transform 0.3s ease;
  transform: scale(1.05);
}
.game-list {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  padding: 20px;
}
.game-card {
  background: white;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  width: 250px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.game-card img {
  width: 100%;
  border-radius: 10px;
}
.download-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
.download-section img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.download-section button {
  background: black;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.download-section button:hover {
  background: #0051ff;
  transition: transform 0.3s ease;
  transform: scale(1.05);
}
