body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

h1,
h2,
h3 {
  color: #222;
}

article {
  max-width: 800px;
  margin: 0 auto;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

a.nav-bar-logo {
  color: #fbff00;
  text-decoration: none;
}

p {
  margin-bottom: 1.5em;
}

ul {
  margin-bottom: 1.5em;
}

li {
  margin-bottom: 0.5em;
}

.highlight {
  color: #e74c3c;
  font-weight: bold;
}

.content-wrapper {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.image {
  text-align: center;
  margin: 20px 0;
}

.image img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.image img:hover {
  transform: scale(1.05);
}

.trailer {
  text-align: center;
  margin: 20px 0;
}

.trailer iframe {
  width: 100%;
  height: 450px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.navbar {
  background-color: #262626;
  padding: 1rem 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 2rem;
  color: #fbff00;
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 2rem;
}

.nav-links a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 1.1rem;
}

.nav-links a:hover {
  color: #ffff00;
}

footer {
  background-color: #232323;
  color: white;
  padding: 2rem 5%;
  text-align: center;
  margin-top: 4rem;
}

.social-links {
  margin-bottom: 1rem;
}

.social-links a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  margin: 0 1rem;
}

.social-links a:hover {
  color: #00aa00;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px;
  transition: all 0.3s ease;
}

.nav-links.nav-active {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 60px;
  right: 0;
  width: 100%;
  background-color: #262626;
  text-align: center;
}

.nav-links.nav-active a {
  padding: 1rem;
  border-top: 1px solid #333;
}

.burger.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.burger.toggle .line2 {
  opacity: 0;
}

.burger.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

@media screen and (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  .burger {
    display: block;
  }
}
